/* ini css */
body {
  background-color: white;
}
main {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  margin: 48px;
  padding: 32px;
  justify-content: space-around;
  border-radius: 8px;
}
header {
  text-align: center;
}
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
form {
  background-color: bisque;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 8px;
}
.radio-button {
  padding-bottom: 16px;
  font-weight: 600;
}
.color-section {
  background-color: bisque;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
}
#result {
  padding: 8px;
  font-size: 48px;
  font-weight: bold;
}
button {
  background-color: aqua;
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 16px;
}
footer {
  margin: 48px;
  padding: 16px;
  text-align: center;
  background-color: cadetblue;
  border-radius: 8px;
}
