/* ini css */
main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: space-around;
}
header {
  font-weight: 600;
  text-align: center;
}
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
form {
  background-color: bisque;
  padding: 8px;
  border-radius: 8px;
}
.color-section {
  background-color: bisque;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
}
#result {
  padding: 8px;
  font-size: 48px;
  font-weight: bold;
}
footer {
  text-align: center;
}
